---
import type { Post } from '../content/config';

interface Props {
  frontmatter: Post['data'];
}

import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <div class="px-4">
    <header class="flex flex-col items-start justify-between">
      <h1
        transition:name={`post-${frontmatter.title}`}
        class="text-2xl font-bold tracking-tight"
      >
        {frontmatter.title}
      </h1>
      <p>{frontmatter.pubDate.toString().slice(0, 10)}</p>
    </header>
    <blockquote class="mt-6 border-l-2 pl-5 italic">
      {frontmatter.description}
    </blockquote>
    {
      frontmatter.image && (
        <img
          src={frontmatter.image.url}
          width="300"
          alt={frontmatter.image.alt}
        />
      )
    }
    <article class="prose dark:prose-invert pt-14">
      <slot />
    </article>
  </div>
</BaseLayout>
